In [1]:
import numpy as np
import pandas as pd
import scanpy as sc
import matplotlib.pyplot as plt
import matplotlib.axes as axt
import glob
import anndata
import bbknn
import celltypist 
from celltypist import models

/home/william/miniconda3/envs/scenv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
sc.settings.verbosity = 3
sc.settings.set_figure_params(dpi=80,facecolor='white',color_map='viridis')
sc.logging.print_header()

scanpy==1.10.4 anndata==0.11.3 umap==0.5.6 numpy==1.26.4 scipy==1.15.1 pandas==2.2.3 scikit-learn==1.6.1 statsmodels==0.14.4 igraph==0.11.8 pynndescent==0.5.13

In [5]:
data_path = '../data/SCP1884/'

In [6]:
#load the main dataframe
adata = sc.read_mtx(data_path + 'CO_EPI.scp.matrix.mtx')

In [7]:
adata.shape

(28663, 97788)

In [8]:
adata = adata.transpose()

In [9]:
adata.shape

(97788, 28663)

In [10]:
gene_data = pd.read_csv(data_path + 'CO_EPI.scp.features2.tsv')
epi_barcodes = pd.read_csv(data_path + 'CO_EPI.scp.barcodes.tsv')

In [11]:
gene_data

           gene_name
0         AL627309.1
1         AP006222.2
2      RP4-669L17.10
3      RP11-206L10.3
4      RP11-206L10.2
...              ...
28658   RP5-974N19.1
28659   CTB-60B18.18
28660  CTD-2616J11.3
28661     AC006272.2
28662    CTA-929C8.7

[28663 rows x 1 columns]

In [12]:
#assign gene names to data matrix
gene_data = gene_data[gene_data.gene_name.notnull()]
notNa = gene_data.index
notNa = notNa.to_list()

In [13]:
#remove any NA genes
adata = adata[:,notNa]
adata.var = gene_data
adata.var.set_index('gene_name', inplace=True)
adata.var.index.name = None
adata.var_names_make_unique()

In [14]:
meta_data = pd.read_table(data_path + 'scp_metadata_combined.v2.txt')

/tmp/ipykernel_5075/297567830.py:1: DtypeWarning: Columns (2,3,7) have mixed types. Specify dtype option on import or set low_memory=False.
  meta_data = pd.read_table(data_path + 'scp_metadata_combined.v2.txt')

In [15]:
meta_data["barcodes"] = meta_data["NAME"]

In [16]:
meta_data['Health'] = meta_data['Type']
meta_data['disease'] = meta_data['disease__ontology_label']
meta_data['Cluster'] = meta_data['Celltype']
meta_data['Location'] = meta_data['organ__ontology_label']
meta_data['Sample'] = meta_data['biosample_id']

meta_data

,NAME,biosample_id,n_genes,n_counts,Chem,Site,Type,donor_id,Layer,Celltype,...,library_preparation_protocol__ontology_label,organ,organ__ontology_label,disease,disease__ontology_label,barcodes,Health,Cluster,Location,Sample
0,TYPE,group,numeric,numeric,group,group,group,group,group,group,...,group,group,group,group,group,TYPE,group,group,group,group
1,N105446_L-GTGTGGCTCCGTCAAA,N105446_L,5135,19014,v3,CO,NonI,105446,L,Fibroblasts ADAMDEC1,...,10x 3' v3,UBERON_0001155,colon,Crohn's disease,Crohn's disease,N105446_L-GTGTGGCTCCGTCAAA,NonI,Fibroblasts ADAMDEC1,colon,N105446_L
2,N105446_L-CAATACGAGTCCCTAA,N105446_L,5119,18425,v3,CO,NonI,105446,L,Endothelial cells CD36,...,10x 3' v3,UBERON_0001155,colon,Crohn's disease,Crohn's disease,N105446_L-CAATACGAGTCCCTAA,NonI,Endothelial cells CD36,colon,N105446_L
3,N105446_L-CCCTGATAGTGTTCCA,N105446_L,5024,18305,v3,CO,NonI,105446,L,Fibroblasts ADAMDEC1,...,10x 3' v3,UBERON_0001155,colon,Crohn's disease,Crohn's disease,N105446_L-CCCTGATAGTGTTCCA,NonI,Fibroblasts ADAMDEC1,colon,N105446_L
4,N105446_L-CATTGTTAGAGCCCAA,N105446_L,4817,17791,v3,CO,NonI,105446,L,Fibroblasts ADAMDEC1,...,10x 3' v3,UBERON_0001155,colon,Crohn's disease,Crohn's disease,N105446_L-CATTGTTAGAGCCCAA,NonI,Fibroblasts ADAMDEC1,colon,N105446_L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
720629,N119540_L2-CACTGGGAGCTGACCC,N119540_L2,270,460,v3,TI,NonI,119540,L,Plasma cells,...,10x 3' v3,UBERON_0002116,ileum,Crohn's disease,Crohn's disease,N119540_L2-CACTGGGAGCTGACCC,NonI,Plasma cells,ileum,N119540_L2
720630,N119540_L2-CGAGGCTTCTCACTCG,N119540_L2,267,454,v3,TI,NonI,119540,L,Cycling cells,...,10x 3' v3,UBERON_0002116,ileum,Crohn's disease,Crohn's disease,N119540_L2-CGAGGCTTCTCACTCG,NonI,Cycling cells,ileum,N119540_L2
720631,N119540_L2-CTCAAGATCTACGCGG,N119540_L2,327,453,v3,TI,NonI,119540,L,Plasma cells,...,10x 3' v3,UBERON_0002116,ileum,Crohn's disease,Crohn's disease,N119540_L2-CTCAAGATCTACGCGG,NonI,Plasma cells,ileum,N119540_L2
720632,N119540_L2-TATTCCATCGCCTAGG,N119540_L2,268,430,v3,TI,NonI,119540,L,Cycling cells,...,10x 3' v3,UBERON_0002116,ileum,Crohn's disease,Crohn's disease,N119540_L2-TATTCCATCGCCTAGG,NonI,Cycling cells,ileum,N119540_L2
720633,N119540_L2-CATCGTCGTCACTTCC,N119540_L2,249,352,v3,TI,NonI,119540,L,Plasma cells,...,10x 3' v3,UBERON_0002116,ileum,Crohn's disease,Crohn's disease,N119540_L2-CATCGTCGTCACTTCC,NonI,Plasma cells,ileum,N119540_L2

In [17]:

meta_data = meta_data.drop(columns=["NAME","Site","Type","Celltype","organ__ontology_label","biosample_id","n_genes","n_counts","Chem","donor_id","Layer","sex","species","species__ontology_label","library_preparation_protocol","library_preparation_protocol__ontology_label","organ","disease","disease__ontology_label"])
meta_data

,barcodes,Health,Cluster,Location,Sample
0,TYPE,group,group,group,group
1,N105446_L-GTGTGGCTCCGTCAAA,NonI,Fibroblasts ADAMDEC1,colon,N105446_L
2,N105446_L-CAATACGAGTCCCTAA,NonI,Endothelial cells CD36,colon,N105446_L
3,N105446_L-CCCTGATAGTGTTCCA,NonI,Fibroblasts ADAMDEC1,colon,N105446_L
4,N105446_L-CATTGTTAGAGCCCAA,NonI,Fibroblasts ADAMDEC1,colon,N105446_L
...,...,...,...,...,...
720629,N119540_L2-CACTGGGAGCTGACCC,NonI,Plasma cells,ileum,N119540_L2
720630,N119540_L2-CGAGGCTTCTCACTCG,NonI,Cycling cells,ileum,N119540_L2
720631,N119540_L2-CTCAAGATCTACGCGG,NonI,Plasma cells,ileum,N119540_L2
720632,N119540_L2-TATTCCATCGCCTAGG,NonI,Cycling cells,ileum,N119540_L2
720633,N119540_L2-CATCGTCGTCACTTCC,NonI,Plasma cells,ileum,N119540_L2

In [18]:
epi_barcodes.index = epi_barcodes["barcodes"]

In [19]:
meta_data.index = meta_data["barcodes"]
meta_data

,barcodes,Health,Cluster,Location,Sample
barcodes,,,,,
TYPE,TYPE,group,group,group,group
N105446_L-GTGTGGCTCCGTCAAA,N105446_L-GTGTGGCTCCGTCAAA,NonI,Fibroblasts ADAMDEC1,colon,N105446_L
N105446_L-CAATACGAGTCCCTAA,N105446_L-CAATACGAGTCCCTAA,NonI,Endothelial cells CD36,colon,N105446_L
N105446_L-CCCTGATAGTGTTCCA,N105446_L-CCCTGATAGTGTTCCA,NonI,Fibroblasts ADAMDEC1,colon,N105446_L
N105446_L-CATTGTTAGAGCCCAA,N105446_L-CATTGTTAGAGCCCAA,NonI,Fibroblasts ADAMDEC1,colon,N105446_L
...,...,...,...,...,...
N119540_L2-CACTGGGAGCTGACCC,N119540_L2-CACTGGGAGCTGACCC,NonI,Plasma cells,ileum,N119540_L2
N119540_L2-CGAGGCTTCTCACTCG,N119540_L2-CGAGGCTTCTCACTCG,NonI,Cycling cells,ileum,N119540_L2
N119540_L2-CTCAAGATCTACGCGG,N119540_L2-CTCAAGATCTACGCGG,NonI,Plasma cells,ileum,N119540_L2
N119540_L2-TATTCCATCGCCTAGG,N119540_L2-TATTCCATCGCCTAGG,NonI,Cycling cells,ileum,N119540_L2
N119540_L2-CATCGTCGTCACTTCC,N119540_L2-CATCGTCGTCACTTCC,NonI,Plasma cells,ileum,N119540_L2

In [20]:
epi_barcodes = epi_barcodes.drop(columns=["barcodes"])
epi_barcodes

Empty DataFrame
Columns: []
Index: [N105446_L-ATTGTTCCAAACGTGG, N105446_L-TCGACGGGTGAGACCA, N105446_L-AGTAACCGTTAAGGGC, N105446_L-GCAGGCTTCGCTAAAC, N105446_L-ATCTTCATCTGAGAGG, N105446_L-ATTTACCTCGATACAC, N105446_L-GCCATGGTCGAGAAGC, N105446_L-GTTCCGTCACAATGTC, N105446_L-GAGACTTGTGCTTCAA, N105446_L-CGCATAAAGTGCGACA, N105446_L-AACAGGGAGATTCGCT, N105446_L-GTGAGGAAGAATCGCG, N105446_L-TGATGCAGTTCCGGTG, N105446_L-GGACGTCAGAGTCAAT, N105446_L-TCGCTCATCCAACCAA, N105446_L-ATGGATCGTTAAACCC, N105446_L-AAACGAACACCAGGTC, N105446_L-GACCAATTCGCTTAAG, N105446_L-TGATGCAGTCACATTG, N105446_L-CTCACTGTCTCAACGA, N105446_L-CTCAAGACACTGATTG, N105446_L-GTTCCGTAGAGTATAC, N105446_L-TTCCTTCGTAGTATAG, N105446_L-TCTTTGATCCCTGGTT, N105446_L-CAGCAATGTACGTGAG, N105446_L-TCGTAGAAGTCTGCGC, N105446_L-ACATCGAGTTGCTGAT, N105446_L-CTCCAACTCAAGAGTA, N105446_L-CTCTCAGTCCTAGAGT, N105446_L-GAGTGAGCAACACGTT, N105446_L-ACACCAACATCTGGGC, N105446_L-AGGTCATTCGCCATAA, N105446_L-TGTCCTGCAAACACGG, N105446_L-ATCGTGACATACATCG, N105446_L-GTTGAACCAAACTAGA, N105446_L-GTGAGCCGTGCCTATA, N105446_L-CTGTACCAGATGTTCC, N105446_L-TTCTTCCAGACGATAT, N105446_L-GCTCAAAGTATCAAGA, N105446_L-GTAACACCAATAGGGC, N105446_L-GCCTGTTGTAGTGGCA, N105446_L-TGCATGATCATCGGGC, N105446_L-GAATCGTCACGTCTCT, N105446_L-ACGGGTCTCATCGTAG, N105446_L-TATCAGGCACGTGTGC, N105446_L-TACTTCATCTGGAAGG, N105446_L-ACGGAAGCAACGACTT, N105446_L-TGAACGTGTTACCCTC, N105446_L-GTCGTAACACCTCTGT, N105446_L-TACCCGTGTCCGGCAT, N105446_L-CTTAGGATCCCAGGAC, N105446_L-TGCGATAAGACGAAGA, N105446_L-CCCTAACGTGACTGAG, N105446_L-CTGTGAAAGATTGCGG, N105446_L-AACAAAGCACGTCATA, N105446_L-CGGAATTCAGCACACC, N105446_L-TCCTCGAAGGCTCTCG, N105446_L-CCGTGAGGTCGAGTGA, N105446_L-CTCCGATGTGGGAGAG, N105446_L-CTCAGAATCTACCAGA, N105446_L-CACTAAGCATGGGCAA, N105446_L-TTCAGGAAGCCTGAGA, N105446_L-TGGTTAGTCACTACGA, N105446_L-AGTCAACGTATATGGA, N105446_L-GGTGTCGAGAGGTATT, N105446_L-AGTGTTGCACCGGAAA, N105446_L-AGTTCGACAGCACAGA, N105446_L-ATTCCCGGTTACACAC, N105446_L-GGTTCTCCATATCGGT, N105446_L-GGCACGTAGTTGGAGC, N105446_L-CGGCAGTCATGTGACT, N105446_L-CCTAAGAAGCTATCCA, N105446_L-AGGGTGAAGTGTAGAT, N105446_L-TTGCGTCGTTGCCATA, N105446_L-CCCTCAAAGGTACCTT, N105446_L-CAGGGCTGTGCATTTG, N105446_L-CGTAAGTCAAGACGAC, N105446_L-GAGCCTGAGGGCAACT, N105446_L-TGCGGGTAGCGTTCCG, N105446_L-GAACACTAGAGGTGCT, N105446_L-TTTACTGGTACGGATG, N105446_L-GCACTAACATTCGGGC, N105446_L-TTTCCTCGTCAGCTTA, N105446_L-TACGTCCTCTTTCGAT, N105446_L-CGTAGTATCTTCTTCC, N105446_L-AGGTGTTAGGCCCGTT, N105446_L-GTAGTACAGCTACTGT, N105446_L-TGTAACGCAGCACACC, N105446_L-TCAATTCTCTGCCCTA, N105446_L-CCACCATGTCCGATCG, N105446_L-TCCATCGTCTCCAAGA, N105446_L-GCCCAGATCACCGCTT, N105446_L-AGGAGGTCAATTTCGG, N105446_L-ACGGTTAAGGGCAGGA, N105446_L-AATGAAGTCTCCGCAT, N105446_L-GGTTGTACAAATGCTC, N105446_L-ACTGATGCACGGCACT, N105446_L-AGCCAGCCAATTGGTC, N105446_L-CAGTTAGCAATCCTAG, N105446_L-AGTCTCCTCCTCAGGG, ...]

[97788 rows x 0 columns]

In [21]:
meta_data = meta_data.drop(columns=["barcodes"])
meta_data

,Health,Cluster,Location,Sample
barcodes,,,,
TYPE,group,group,group,group
N105446_L-GTGTGGCTCCGTCAAA,NonI,Fibroblasts ADAMDEC1,colon,N105446_L
N105446_L-CAATACGAGTCCCTAA,NonI,Endothelial cells CD36,colon,N105446_L
N105446_L-CCCTGATAGTGTTCCA,NonI,Fibroblasts ADAMDEC1,colon,N105446_L
N105446_L-CATTGTTAGAGCCCAA,NonI,Fibroblasts ADAMDEC1,colon,N105446_L
...,...,...,...,...
N119540_L2-CACTGGGAGCTGACCC,NonI,Plasma cells,ileum,N119540_L2
N119540_L2-CGAGGCTTCTCACTCG,NonI,Cycling cells,ileum,N119540_L2
N119540_L2-CTCAAGATCTACGCGG,NonI,Plasma cells,ileum,N119540_L2
N119540_L2-TATTCCATCGCCTAGG,NonI,Cycling cells,ileum,N119540_L2
N119540_L2-CATCGTCGTCACTTCC,NonI,Plasma cells,ileum,N119540_L2

In [22]:
cell_meta = pd.concat([epi_barcodes, meta_data], axis=1, join="inner")

In [23]:
cell_meta

,Health,Cluster,Location,Sample
barcodes,,,,
N105446_L-ATTGTTCCAAACGTGG,NonI,Paneth cells,colon,N105446_L
N105446_L-TCGACGGGTGAGACCA,NonI,Paneth cells,colon,N105446_L
N105446_L-AGTAACCGTTAAGGGC,NonI,Paneth cells,colon,N105446_L
N105446_L-GCAGGCTTCGCTAAAC,NonI,Goblet cells MUC2 TFF1,colon,N105446_L
N105446_L-ATCTTCATCTGAGAGG,NonI,Goblet cells MUC2 TFF1-,colon,N105446_L
...,...,...,...,...
N130084_L-GTGGTTACAGTTCCAA,NonI,Tuft cells,colon,N130084_L
N130084_L-TATCCTATCGTTCATT,NonI,Enterocytes CA1 CA2 CA4-,colon,N130084_L
N130084_L-TCATCCGGTATGATCC,NonI,Enterocytes BEST4,colon,N130084_L
N130084_L-GGTCACGGTTAGCGGA,NonI,Enterocytes CA1 CA2 CA4-,colon,N130084_L
N130084_L-TGGTGATAGTTGGAAT,NonI,Enterocytes CA1 CA2 CA4-,colon,N130084_L

In [24]:
#assign barcodes to matrix
adata.obs = cell_meta
adata.obs_names_make_unique()

In [25]:
adata.shape

(97788, 28663)

In [26]:
#check correct loading of barcodes
sc.get.var_df(adata)

Empty DataFrame
Columns: []
Index: [AL627309.1, AP006222.2, RP4-669L17.10, RP11-206L10.3, RP11-206L10.2, RP11-206L10.9, FAM87B, LINC00115, FAM41C, RP11-54O7.3, SAMD11, NOC2L, KLHL17, PLEKHN1, RP11-54O7.17, HES4, ISG15, AGRN, RNF223, C1orf159, RP11-465B22.5, RP11-465B22.8, TTLL10, TNFRSF18, TNFRSF4, SDF4, B3GALT6, FAM132A, RP5-902P8.12, UBE2J2, RP5-902P8.10, SCNN1D, ACAP3, PUSL1, CPSF3L, GLTPD1, TAS1R3, DVL1, MXRA8, AURKAIP1, CCNL2, RP4-758J18.2, MRPL20, RP4-758J18.13, ANKRD65, VWA1, ATAD3C, ATAD3B, ATAD3A, SSU72, AL645728.1, C1orf233, RP11-345P4.9, MIB2, MMP23B, CDK11B, RP11-345P4.10, SLC35E2B, RP11-345P4.7, CDK11A, SLC35E2, NADK, GNB1, RP1-140A9.1, CALML6, TMEM52, RP11-547D24.3, PRKCZ, RP5-892K4.1, RP11-181G12.2, C1orf86, AL590822.2, AL590822.1, RP11-181G12.4, SKI, MORN1, RER1, PEX10, PLCH2, PANK4, HES5, RP3-395M20.12, TNFRSF14, RP3-395M20.7, RP3-395M20.9, FAM213B, MMEL1, TTC34, LINC00982, PRDM16, RP11-22L13.1, ARHGEF16, RP11-168F9.2, MEGF6, RP11-46F15.2, TPRG1L, WRAP73, TP73, TP73-AS1, SMIM1, ...]

[28663 rows x 0 columns]

In [27]:
#check correct loading of gene names
sc.get.obs_df(adata)

Empty DataFrame
Columns: []
Index: [N105446_L-ATTGTTCCAAACGTGG, N105446_L-TCGACGGGTGAGACCA, N105446_L-AGTAACCGTTAAGGGC, N105446_L-GCAGGCTTCGCTAAAC, N105446_L-ATCTTCATCTGAGAGG, N105446_L-ATTTACCTCGATACAC, N105446_L-GCCATGGTCGAGAAGC, N105446_L-GTTCCGTCACAATGTC, N105446_L-GAGACTTGTGCTTCAA, N105446_L-CGCATAAAGTGCGACA, N105446_L-AACAGGGAGATTCGCT, N105446_L-GTGAGGAAGAATCGCG, N105446_L-TGATGCAGTTCCGGTG, N105446_L-GGACGTCAGAGTCAAT, N105446_L-TCGCTCATCCAACCAA, N105446_L-ATGGATCGTTAAACCC, N105446_L-AAACGAACACCAGGTC, N105446_L-GACCAATTCGCTTAAG, N105446_L-TGATGCAGTCACATTG, N105446_L-CTCACTGTCTCAACGA, N105446_L-CTCAAGACACTGATTG, N105446_L-GTTCCGTAGAGTATAC, N105446_L-TTCCTTCGTAGTATAG, N105446_L-TCTTTGATCCCTGGTT, N105446_L-CAGCAATGTACGTGAG, N105446_L-TCGTAGAAGTCTGCGC, N105446_L-ACATCGAGTTGCTGAT, N105446_L-CTCCAACTCAAGAGTA, N105446_L-CTCTCAGTCCTAGAGT, N105446_L-GAGTGAGCAACACGTT, N105446_L-ACACCAACATCTGGGC, N105446_L-AGGTCATTCGCCATAA, N105446_L-TGTCCTGCAAACACGG, N105446_L-ATCGTGACATACATCG, N105446_L-GTTGAACCAAACTAGA, N105446_L-GTGAGCCGTGCCTATA, N105446_L-CTGTACCAGATGTTCC, N105446_L-TTCTTCCAGACGATAT, N105446_L-GCTCAAAGTATCAAGA, N105446_L-GTAACACCAATAGGGC, N105446_L-GCCTGTTGTAGTGGCA, N105446_L-TGCATGATCATCGGGC, N105446_L-GAATCGTCACGTCTCT, N105446_L-ACGGGTCTCATCGTAG, N105446_L-TATCAGGCACGTGTGC, N105446_L-TACTTCATCTGGAAGG, N105446_L-ACGGAAGCAACGACTT, N105446_L-TGAACGTGTTACCCTC, N105446_L-GTCGTAACACCTCTGT, N105446_L-TACCCGTGTCCGGCAT, N105446_L-CTTAGGATCCCAGGAC, N105446_L-TGCGATAAGACGAAGA, N105446_L-CCCTAACGTGACTGAG, N105446_L-CTGTGAAAGATTGCGG, N105446_L-AACAAAGCACGTCATA, N105446_L-CGGAATTCAGCACACC, N105446_L-TCCTCGAAGGCTCTCG, N105446_L-CCGTGAGGTCGAGTGA, N105446_L-CTCCGATGTGGGAGAG, N105446_L-CTCAGAATCTACCAGA, N105446_L-CACTAAGCATGGGCAA, N105446_L-TTCAGGAAGCCTGAGA, N105446_L-TGGTTAGTCACTACGA, N105446_L-AGTCAACGTATATGGA, N105446_L-GGTGTCGAGAGGTATT, N105446_L-AGTGTTGCACCGGAAA, N105446_L-AGTTCGACAGCACAGA, N105446_L-ATTCCCGGTTACACAC, N105446_L-GGTTCTCCATATCGGT, N105446_L-GGCACGTAGTTGGAGC, N105446_L-CGGCAGTCATGTGACT, N105446_L-CCTAAGAAGCTATCCA, N105446_L-AGGGTGAAGTGTAGAT, N105446_L-TTGCGTCGTTGCCATA, N105446_L-CCCTCAAAGGTACCTT, N105446_L-CAGGGCTGTGCATTTG, N105446_L-CGTAAGTCAAGACGAC, N105446_L-GAGCCTGAGGGCAACT, N105446_L-TGCGGGTAGCGTTCCG, N105446_L-GAACACTAGAGGTGCT, N105446_L-TTTACTGGTACGGATG, N105446_L-GCACTAACATTCGGGC, N105446_L-TTTCCTCGTCAGCTTA, N105446_L-TACGTCCTCTTTCGAT, N105446_L-CGTAGTATCTTCTTCC, N105446_L-AGGTGTTAGGCCCGTT, N105446_L-GTAGTACAGCTACTGT, N105446_L-TGTAACGCAGCACACC, N105446_L-TCAATTCTCTGCCCTA, N105446_L-CCACCATGTCCGATCG, N105446_L-TCCATCGTCTCCAAGA, N105446_L-GCCCAGATCACCGCTT, N105446_L-AGGAGGTCAATTTCGG, N105446_L-ACGGTTAAGGGCAGGA, N105446_L-AATGAAGTCTCCGCAT, N105446_L-GGTTGTACAAATGCTC, N105446_L-ACTGATGCACGGCACT, N105446_L-AGCCAGCCAATTGGTC, N105446_L-CAGTTAGCAATCCTAG, N105446_L-AGTCTCCTCCTCAGGG, ...]

[97788 rows x 0 columns]

In [28]:
#write data as h5ad for easy loading later
adata.write_h5ad(data_path + 'SCP1884.epi.h5ad')

... storing 'Health' as categorical
... storing 'Cluster' as categorical
... storing 'Location' as categorical
... storing 'Sample' as categorical